*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
html{
    font-size: 62.5%;
    height: 100%;

}
body{
    font-size: 1.6rem;
    height: 100%;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.clear{
    clear: both;
}

/*cabeçalho*/
header{
    padding: 20px 2% 35px 2%;
    height: 120px;
}
header .logo{
    float: left;
}
header nav.desktop{
    float: right;
    position: relative;
    top: 40px;
}

header nav.desktop ul{
    list-style-type: none;
}
header nav.desktop ul li{
    font-style: italic;
    float: left;
    font-size: 2.0rem;
    padding: 0 20px;
}
header nav.desktop ul li a{
    color: black;
    text-decoration: none;
}
header nav.mobile{
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url(../imagens/icon_menu.png);
    display: none;
}
nav.mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 98px;
    border-bottom: 4px solid #EB2D2D;
    z-index: 999;
    background-color: white;
    text-align: center;
    list-style-type: none;
}
nav.mobile ul li{
    font-style: italic;
    font-size: 2.0rem;
    padding: 20px 0;
}
nav.mobile ul li a{
    color: black;
}

/*Banner*/
section.banner{
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 550px;
    max-height: 700px;
    background-color: black;
    background-image: url("../imagens/bg.jpg");
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.text-banner{
    padding: 100px;
    margin-left: -30px;
}
.text-banner-box{
    width: 23.06vw;
    height: 9.60vh;
    margin-top: 10px;
    padding: 11px 30px;
    color: white;
    font-size: 2.3rem;
    text-transform: uppercase;
    background-image: url(../imagens/box-text.png);
    background-size: 100% 100%;
    font-style: italic;;
}
.text-banner-box:nth-of-type(2){
    width:18vw;
    height: 8vh;
    position: relative;
    left: -10px;
}
.text-banner-box:nth-of-type(3){
    width: 15.37vw;
    height: 8vh;
    position: relative;
    left: -20px;
}
.text-banner-box:nth-of-type(4){
    width: 25vw;
    height: 8vh;
    font-size: 1.8rem;
    background-image: url(../imagens/box-white-text.png);
    color: black;
    position: relative;
    left: -30px;
}

/*Veículos em destaque*/
section.veiculos-destaque {
    padding: 90px 2%;
}
.line{  /*técnica bem interessante para fazer linhas do lado de texto*/
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.ln1{
    height: 1px;
    position: absolute;
    width: 100%;
    background: black;
}
.line > h2{
    position: relative;
    top: -15px;
    padding: 0 20px;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-size: 2.7rem;
    font-style: italic;
    text-transform: uppercase;
}
section.veiculos-destaque > .container{
    max-width:1000px;
    padding: 40px 0;
}
.vitrine-destaque{
    float: left;
    width: 33.333%;
}
.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 8px solid white;
}
.vitrine-destaque article.info-carro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vitrine-destaque article.info-carro > h2{
    font-size: 2.7rem;
}
.vitrine-destaque article.info-carro > p{
    color: #353535;
    font-style: italic;
}
.btn1{
    display: block;
    background-color: #EB2D2D;
    border-bottom: 5px solid #B21E1E;
    text-align: center;
    line-height: 4.0rem;
    text-decoration: none;
}
.vitrine-destaque article.info-carro > a{
    color: white;
    font-style: italic;
    font-weight: bold;
    width: 120px;
    margin-top: 10px;
    /*lembrar que a tem como display padrão inline, ai vc não consegue aumentar medidas*/
}

/**serviços**/
section.servicos-descricao{
    width: 100%;
    display: flex;
    height: 100%;
    max-height: 300px;
}
.half1{
    width: 50%;
    padding: 50px 5%;
    background-color: #242424;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.half1 h2{
    margin-left: 40px;
    font-weight: normal;
    font-style: italic;
    font-size: 3.4rem;
    width:60%;
}
.half1 ul{
    margin-top: 10px;
}
.half1 ul li{
    margin-left: 15px;
    font-size: 2.0rem;
}
.half1 a{
    width: 150px;
    color: white;
    font-size: 1.8rem;
    margin-top: 20px;
}
.half2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 95px 1%;
    background-color: #EB2D2D;
    color: white;
}
.half2 h2{
    font-weight: normal;
    font-style: italic;
    font-size: 3.4rem;
    width: 100%;
}
.half2 p{
    font-size: 2.2rem;
    width: 100%;
    max-width: 700px;
}
.navigation{
    margin-top: 30px;
}
.navigation img{
    float: left;
    margin: 0 20px;
    cursor: pointer;
}
.nome-depoimento{
    float: right;
    color: #252525;
    font-size: 2.2rem;
}

/*contato*/
section.contato{
	padding:80px 2% 0 2%;
}
.line2{  /*técnica bem interessante para fazer linhas do lado de texto*/
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.ln2{
    height: 1px;
    position: absolute;
    width: 100%;
    background: black;
}
section.contato .line2 > h2{
    position: relative;
    top: -15px;
    padding: 0 20px;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-size: 2.7rem;
    font-style: italic;
    text-transform: uppercase;
}


section.contato form{
	max-width: 600px;
	margin:30px auto;
}

section.contato .input-wraper{
	float: left;
	padding:10px;
	margin-top:7px;
}

section.contato input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 60px;
	font-size: 16px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato textarea{
	font-size: 16px;
	width: 100%;
	border:1px solid #ccc;
	height: 140px;
	padding:8px;
	resize: none;
}

section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	border-right: 0;
	border-left: 0;
	border-top: 0;
	cursor: pointer;
	display: inline-block;
    width: 30%;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

footer{
	margin-top:20px;
	padding:40px 2%;
	background: #252525;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li{
	float: left;
	font-style: italic;
	padding:0 35px;
	font-size: 19px;
}

footer nav ul a{
	color: white;
	text-decoration: none;
}

footer p{
	float: right;
	color: white;
	font-size: 19px;
	font-style: italic;
}

/*paginas seguintes venda, sobre*/


section.venda{
	padding:50px 2%;
	min-height: 90%;
}

.content-venda{
	margin-top:40px;
}

.sidebar{
	float: left;
	width: 30%;
}

.search1{
	width:90%;
}

.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.search1 .barra-preco{
	width: 100%;
	height: 20px;
	background: white;
	border:1px solid #ccc;
	margin-top:8px;
	border-radius: 20px;
	position: relative;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	height: 20px;
	border-radius: 20px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
}

.pointer-barra{
	width: 26px;
	height: 26px;
	position: absolute;
	left: calc(30% - 13px);/*tecnica pra deixar o cursor centralizado no final da barra que preenche*/
	top: -3px;
	cursor: pointer;
	border-radius: 8px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180));
	border:1px solid  #777;
}

.valor-pesquisa{
	margin-top:8px;
}

.valor-pesquisa p{
	color: black;
	font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: right;
}

.search2{
	margin-top:40px;
}

.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.form-venda-wraper{
	margin-top:10px;
}

.form-venda-wraper input[type=checkbox]{
	display: none;
}

.form-venda-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 3px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}


.circle{
	width: 8px;
	height: 8px;
	display: none;
	border-radius: 4px;
	background: black;
	position: absolute;
	left: 6px;
	top: 6px;
}


.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}

.form-venda-wraper span{
	padding:0 10px;
	display: inline-block;
	vertical-align: top;
}


.vitrine-venda{
	float: left;
	width: 70%;
}

.vitrine-venda .vitrine-destaque{
	margin-top:20px;
    float: left;
}

div.vitrine-venda{
	padding:80px 2% 0 2%;
}

div.vitrine-venda .container{
	padding:40px 0 0 0;
	text-align: center;
	max-width: 1280px;
}

.info-veiculo{
	display: inline-block;
	width: 60%;
}

.foto-destaque{
	width: 100%;
	padding-top:70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.descricao-veiculo{
	vertical-align: top;
	display: inline-block;
	padding:60px 20px;
	text-align: left;
}

.descricao-veiculo p{
	font-size: 1.7rem;
	margin-top:25px;
	max-width: 200px;
}

.descricao-veiculo a{
	margin-top:25px;
}

.nav-galeria-parent{
	width: 100%;
	padding:36px;
	position: relative;
}

.arrow-left-nav{
	position: absolute;
	left: 8px;
	top: 50%;
	cursor: pointer;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image:url('../imagens/arrow-left.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}



.arrow-right-nav{
	position: absolute;
	right: 8px;
	top: 50%;
	cursor: pointer;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image:url('../imagens/arrow-right.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}
.info-carro {
    text-align: center;
}
.btn2{
    margin: 10px auto;
    color: white;
    width: 120px;
    display: block;
    background-color: #EB2D2D;
    border-bottom: 5px solid #B21E1E;
    text-align: center;
    line-height: 4.0rem;
    text-decoration: none;
}

section.venda-box{
    padding: 80px 2%;
}
.info-bread{
	padding:20px 0;
	text-align: left;
}

.info-bread a{
	text-decoration: none;
	color: black;
}

.info-bread a:last-child{
	color: red;
}

.info-bread span{
	padding:0 30px;
}

.nav-galeria{
	overflow: hidden;
	width: 100%;
}

.nav-galeria-wraper{
	width: 200%;
}

.mini-img-wraper{
	float: left;
	padding:9px;
	width:calc(33.3% * (100 / 200));
}

.mini-img{
	width: 100%;
	cursor: pointer;
	padding-top:70%;
	background-position: center;
	background-size: cover;
	background-color:green;
}

section.sobre{
	min-height: 90%;
	padding:60px 2% 20px 2%;
}

section.sobre .container{
	max-width: 840px;
	margin-top:30px;
}

section.sobre .img-destaque-sobre{
	width: 100%;
	padding-top:60%;
	background-color: rgb(220,220,220);
}

section.sobre .descricao-autor{
	margin-top:20px;
}

.descricao-autor h2{
	font-size: 24px;
}

.descricao-autor p{
	line-height: 28px;
	font-size: 16px;
	margin-top:10px;
}

.descricao-autor2{
	margin-top:40px;
}


.img-small{
	width: 30%;
	padding-top:30%;
	float: left;
	background-color: rgb(220,220,220);
}

.descricao-autor2 p{
	float: left;
	width: 70%;
	line-height: 28px;
	padding:15px;
}








/*responsivo*/
@media screen and (max-width: 768px){
html{
    font-size: 50%;
}
header nav.mobile{
    display: block;
}
header nav.desktop{
    display: none;
}
section.banner{
    height: 60vh;
    min-height: 0;
    max-height: 700px;
}
    .text-banner{
        padding: 70px;
    }
    .text-banner-box{
        width: 23.06vw;
        height: 7vh;
        margin-top: 10px;
        padding: 11px 20px;
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        background-image: url(../imagens/box-text.png);
        background-size: 100% 100%;
        text-align: left;
    }
    .text-banner-box:nth-of-type(2){
        width:18vw;
        height: 7vh;
        position: relative;
        left: -5px;
    }
    .text-banner-box:nth-of-type(3){
        width: 15.37vw;
        height: 7vh;
        position: relative;
        left: -10px;
    }
    .text-banner-box:nth-of-type(4){
        width: 25vw;
        height: 7vh;
        font-size: 1.5rem;
        background-image: url(../imagens/box-white-text.png);
        color: black;
        position: relative;
        left: -15px;
    }
    section.servicos-descricao{
        width: 100%;
        display: block;
    }
    .half1{
        padding: 60 0;
    }
    .half1 > h2{
        width: 40%;
        margin-left: 0;
        font-size: 3.8rem;
    }
    .half1 ul li{
        font-size: 2.5rem;
    }
    .half1,.half2{
        width: 100%;
    }
    .half2{
        display: block;
        padding: 60px 15%;
    }
    .half2 h2{
        font-size: 3.8rem;
    }
    .half2 p{
        font-size: 2.5rem;
    }
    /**responsivo da pagina de venda**/
    .sidebar{
        width: 100%;
        float: none;
    }
    .search2{
        margin-top:40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search2 h2{
        font-size: 24px;
        color: black;
        font-weight: normal;
    }

    .vitrine-venda{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .vitrine-venda .vitrine-destaque{
        margin-top:20px;
        width: 80%;
        margin: 0 auto;
    }

    footer nav{
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
    footer nav ul{
        list-style-type: none;
        display: inline-block;
        text-align: center;
        width: 100%;
        max-width: 700px;
    }

    footer nav ul li{
        padding: 0 20px;
        float: none;
        font-style: italic;
        font-size: 19px;
        display: inline-block;
    }

    footer nav ul a{
        color: white;
        display: inline-block;
        text-decoration: none;
    }

    footer p{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 19px;
        font-style: italic;
    }
}
@media screen and (max-width: 635px){
.info-veiculo{
    width: 100%;
}
.descricao-veiculo {
    text-align: center;
    width: 100%;
    padding:20px 10px 0px 10px;
}
.descricao-veiculo > p{
    margin: 10px auto 0 auto;
    font-size: 2.3rem;
    max-width: none;
    width: 80%;
}
section.contato{
    margin-bottom: 20px;
    padding-top: 0px;
}
section.veiculos-destaque{
    padding-top: 20px;
}

}

@media screen and (max-width: 580px){
    .text-banner-box{
        display:none;
    }
    section.veiculos-destaque > .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    section.veiculos-destaque > .container .vitrine-destaque{
        float: none;
        width: 80%;
        margin: 15px 0;
    }
}

@media screen and (max-width: 480px){
    .text-banner-box{
        display:none;
    }
    section.veiculos-destaque > .container .vitrine-destaque{
        width: 100%;
    }

}







/*colocar 50% nas medias querry*/